<div class="bg-white-600 h-full w-full grow p-6">
  <div class="container mx-auto">
    <h1 class="mb-5 text-xl font-semibold italic text-gray-700">
      Hola, {{ user?.name }}
    </h1>
    <table
      class="w-full text-left text-sm text-gray-500"
      cdk-table
      [dataSource]="dataSource"
    >
      <tr
        cdk-header-row
        class="bg-gray-50 text-xs uppercase text-gray-700"
        *cdkHeaderRowDef="columns"
      ></tr>
      <tr
        cdk-row
        class="border-b bg-white"
        [ngClass]="{ 'bg-red-200': row.price < 100 }"
        *cdkRowDef="let row; columns: columns"
      ></tr>

      <!-- Id Column -->
      <ng-container cdkColumnDef="id">
        <th cdk-header-cell class="py-3 px-6" *cdkHeaderCellDef>#Id</th>
        <td cdk-cell class="py-4 px-6" *cdkCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <!-- Avatar Column -->
      <ng-container cdkColumnDef="avatar">
        <th cdk-header-cell class="py-3 px-6" *cdkHeaderCellDef>Avatar</th>
        <td cdk-cell class="py-4 px-6" *cdkCellDef="let row">
          <img class="w-20" [src]="row.avatar" alt="" />
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container cdkColumnDef="name">
        <th cdk-header-cell class="py-3 px-6" *cdkHeaderCellDef>Name</th>
        <td cdk-cell class="py-4 px-6" *cdkCellDef="let row">{{ row.name }}</td>
      </ng-container>

      <!-- Email Column -->
      <ng-container cdkColumnDef="email">
        <th cdk-header-cell class="py-3 px-6" *cdkHeaderCellDef>Email</th>
        <td cdk-cell class="py-4 px-6" *cdkCellDef="let row">
          {{ row.email }}
        </td>
      </ng-container>
    </table>
  </div>
</div>
